@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* body styles */
body {
    margin: 0;
    /*overflow-x: hidden;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab'
}

html {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

/* header styles */
.blog-header {
    background-color: #2bad65;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto Slab';
}

header h1 {
    margin: 0;
}

/* navigation styles */
nav {
    background-color: #f7f7f9;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #4e4e4e;
    text-decoration: none;
    font-family: 'Roboto Slab';
}

/* main content styles */
main {
    padding: 15px;
    max-width: 900px;
    margin-left: 5em;
}

article {
    margin-bottom: 20px;
}

.article-header {
    /*background-color: #efac87;*/
    padding: 10px;
    border-radius: 10px;
    font-family: 'Jost';
}

header h2 {
    font-size: 2.5em;
    margin: 0;
}

article header p {
    margin: 0;
}

.article-tags {
    background-color: #f7f7f9;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Jost';
    color: #000000;
}

.article-tags a {
    text-decoration: none;
    color: #4e4e4e;
}

article footer p {
    margin: 0;
}

footer.footer-copyright {
    height: 75px;
    width: 100%;
    background-color: #C0C0C0;
    /*flex: 0 0 auto;*/
}

p.text-copyright {
    width: 100%;
    color: #ffffff;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
}

.article-body {
    font-family: 'Noto Sans';
    font-size: 1.3em
}

.article-body h1 {
    font-family: 'Noto Sans';
    font-size: 1.3em
}

.article-body {
    margin-left: 0.5em;
}

.article-body h1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/*.navigation li {*/
/*    transition:all .6s ease;*/
/*}*/

.navigation li:hover {
    transform: scale(1.025);
}

.article-list a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

.article-date p {
    font-size: 1em;
}