{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<main class="container py-3">
    <header>
        <h2>Об о мне и ресурсе</h2>
        <p>Я являюсь начинающим Python backend разработчиком. Начал изучать Python в марте 2022 года и
            продолжаю заниматься этим ремеслом по сей день. На данный момент у меня нет опыта коммерческой разработки,
            только пет-проекты.</p>

        <p>Я обрел мотивацию и желание заняться разработкой сайта после прочтения книги Уильяма Винсента
            "Django for Beginners", в которой подробно описан процесс построения простейшего сайта. Уже во время чтения
            книги я загорелся желанием сделать свой сайт. Выбрал блог в качестве первого проекта на Django, потому что
            он относительно не сложный, но одновременно увлекательный. Моя главная цель - набрать больше опыта, чтобы
            применять его в дальнейших проектах.</p>

        <p>К сожалению, на момент создания этого блога у меня нет больших проектов, а из тех, которые есть,
            это дискорд-боты, парсеры и алгоритмы. Мои навыки и качества, которые помогают мне в разработке, - упорство,
            желание совершенствоваться, страсть к знаниям и приверженность к мечте стать опытным Python backend
            разработчиком.</p>

        <p>Этот блог я вижу как ресурс, на котором я буду делиться своими впечатлениями, знаниями и просто интересными
            фактами. Я всегда буду рад вашим предложениям по поводу усовершенствования блога. Чтобы оставаться на связи,
            вот моя почта: ballukrainian@gmail.com.</p>
    </header>
</main>
{% endblock content %}

