{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<main class="container py-3">
{% for article in object_list %}
    <article class="mb-3">
        <header class="article-header">
            <h2 class="article-title">{{ article.title }}</h2>
            <p class="article-date">Posted on {{ article.date }}</p>
        </header>
        <div class="article-body">
            <p>{{ article.body | safe }}</p>
        </div>
{#        {% for category in article.category.objects %}#}
            <footer class="article-tags">
                <p class="text-muted mb-0">Categories: <a href="#">{{ category }}</a>
            </footer>
{#        {% endfor %}#}
    </article>
{% endfor %}
</main>
{% endblock content %}