{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<main class="container py-3">
    {% for article in object_list %}
    <article class="mb-3">
        <header class="article-header">
            <h2 class="article-title">{{ article.title }}</h2>
            <p class="article-date">Posted on {{ article.date }}</p>
            <img src="{{ article.img.url }}" alt="{{ article.img.name }}" height="270" width="500">
        </header>
        <div class="article-body">
            <p>{{ article.body | safe }}</p>
        </div>
            <footer class="article-tags">
                <p class="text-muted mb-0">Category: <a href="#">{{ article.category }}</a>
            </footer>
    </article>
{% endfor %}
</main>
{% endblock content %}